@(positions: Seq[PosDetails])(implicit tab: String)

@main {

  <form method="get" action="@routes.PositionController.createPosition">
    <button type="submit" class="btn btn-default btn-md">
      <span class="glyphicon glyphicon-plus-sign" aria-hidden="true"></span> Add
    </button>
  </form>

  @if(positions.nonEmpty) {
    <table class="table table-striped">
      <tr>
        <th>Name</th>
        <th>Company</th>
        <th></th>
      </tr>

    @for(position <- positions) {
      <tr>
        <td><a href="@routes.PositionController.details(position.id)">@position.name</a></td>
        <td>@position.company</td>
        <td>
          <form method="post" action="@routes.PositionController.delete(position.id)">
            <button class="btn btn-link" type="submit"><i class="icon-trash"></i> Delete </button>
          </form>
        </td>
      </tr>
    }
  </table>
  }
}